/*主容器*/
.wrapper{
	margin-top: 50px;
	text-align:center;

}
/*内容table*/
table{
	display: inline-block;
	border-collapse: collapse ；


}
table caption{
	width: 100%;
	height: 60px;
	background-color:green; 
	border: 1px solid red; 
	box-sizing:border-box;
	line-height: 60px;
	font-size: 20px;
	overflow: hidden;
	letter-spacing:10px;
}
table th,table td{
	width: 80px;
	height: 50px;
}
.table-tdx{
	background-color: yellow;
	letter-spacing:20px;
}